* {
    margin: 0;
    padding: 0;
}

.card {
    margin-top:30px;
}

.card-deck {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
}
.card-deck > .card {
width: 33%;}

.card-img-top {
    max-height: 250px;
}